/* --- TIME SLOTS COLORS --- */

/* ORANGES */
.time-slot-orange-1 {
    /* 13:30 */
    border-left: 5px solid #ff7b00;
}

.time-slot-orange-1 .card-header,
.time-slot-orange-1 .amc-header {
    background: linear-gradient(90deg, rgba(255, 123, 0, 0.15), transparent);
}

.time-slot-orange-2 {
    /* 14:00 */
    border-left: 5px solid #ff9500;
}

.time-slot-orange-2 .card-header,
.time-slot-orange-2 .amc-header {
    background: linear-gradient(90deg, rgba(255, 149, 0, 0.15), transparent);
}

.time-slot-orange-3 {
    /* 14:30 */
    border-left: 5px solid #ffaa00;
}

.time-slot-orange-3 .card-header,
.time-slot-orange-3 .amc-header {
    background: linear-gradient(90deg, rgba(255, 170, 0, 0.15), transparent);
}

/* BLUES */
.time-slot-blue-1 {
    /* 15:00 */
    border-left: 5px solid #00a2ff;
}

.time-slot-blue-1 .card-header,
.time-slot-blue-1 .amc-header {
    background: linear-gradient(90deg, rgba(0, 162, 255, 0.15), transparent);
}

.time-slot-blue-2 {
    /* 15:30 */
    border-left: 5px solid #00c3ff;
}

.time-slot-blue-2 .card-header,
.time-slot-blue-2 .amc-header {
    background: linear-gradient(90deg, rgba(0, 195, 255, 0.15), transparent);
}

.time-slot-blue-3 {
    /* 16:30 */
    border-left: 5px solid #00e1ff;
}

.time-slot-blue-3 .card-header,
.time-slot-blue-3 .amc-header {
    background: linear-gradient(90deg, rgba(0, 225, 255, 0.15), transparent);
}